@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "monasans-black";
  src: url("/MonaSans-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monasans";
  src: url("/MonaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "monasans";
  color: #d1d1d1;
  box-sizing: border-box;
}

.prose{
  color: #d1d1d1 !important;
  font-size: 20px !important;
}
.prose h2,h3,h4,h5,h6, strong{
  color: #d1d1d1 !important;
  font-weight: 600;
}
.prose h1{
  color: #fff !important;
}
.prose code{
  background: #1f1f1f !important;
  color: #d1d1d1;
  padding: 4px;
  border-radius: 4px;
}
.prose pre code{
  background: inherit !important;
  color: #d1d1d1;
}
.prose pre{
  background: #1f1f1f !important;
  color: #d1d1d1;
}
.prose li::marker{
  color: #d1d1d1 !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3c3f44; /* Thumb color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3f44; /* Hover state */
}

::-webkit-scrollbar-track {
  background: #c0c0c0; /* Track color */
  border-radius: 6px;
}